/.env
/.idea
/vendor
.DS_Store
/.env.staging
/.env.prod
/web/cache/*
/.env.dev
/templates/queries.twig
/.env.prod-old
/.env-old
/web/config.codekit3
/.env.staging-adc
/.env.prod-adc
/db
/.sass-cache
output.log
/node_modules
/.parcel-cache/

/.cursor
